Mobile Project/packages/
Service Project/packages/
Mobile Project/XamarinPushDemo/bin/
Mobile Project/XamarinPushDemo/obj/
Service Project/XamarinPushDemoService/App_Data/
Mobile Project/XamarinPushDemo.userprefs
